* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

body{
  width: 100%;
  min-width: 300px;
  max-width: 1300px;
  font-family: "cocogoose", "lato", sans-serif;
  line-height: 1em;
  margin: 0 auto !important;
  overflow-x: hidden;
}



.nav-font{
  color: #101317 !important;
}

.second_section_text {
  color: #FFFFFF ;
  text-align: center;
  padding-top: 12em;
  
}

.container1{
  margin-top: 3em;
  background-color: #101317;
  height: 40em;
  width: 100%;
}

.product-color{
  color: #7502D9 !important;
}

.display- {
  font-size: 32px ;
}

.token{
  margin-left: 6rem !important;
}
.roadmap {
  margin-left: 10rem !important;
}

.futer {
  height: 50px;
  width: 50px;
}